/node_modules
node_modules/
.DS_Store

# local env files
.env.local
.env.*.local
.env

package-lock.json

# notes
notes.md
save.md
tree.md

# Build files
/dist

/notes.md

# docs 
is-solid-docs.d.ts
core.md
arrays.md
objects.md
strings.md
async.md
unions.md
test-notes.md